.modal-dialog, .modal {
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    overflow: hidden;
    border: none;
  }
  


  .cart-icon {
    max-width: 250px;
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
 }
  
  
  .modal-header {
    border: none;  
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-top: 1rem;
}

.btn-view-order{
    background-color:#003559

}


.confirmation-text{
    color: #003559;
    font-size: 1rem;
    font-weight: normal;
    text-align: centers;
}

