.restaurantcard-img{
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.restaurantcard-divider {
  border: none;
  height: 10px;
  opacity: 1;
  background-color: #061A40; 
  margin: 0; 
}

.restaurant-page-card {
  border-radius: 20px;
  background-color: #ffffff;
}

.restaurant-page-card h5, h6{
  color: #061A40;
  padding: 0.5rem;;
}

.restaurant-page-card h5{
  font-size: 1.5rem;
  font-weight: bold;
}
  
.restaurant-page-card h6{
  font-size: 1.25rem;
}

.restaurant-page-card p {
  color: #061A40;
  font-weight: bold;
  font-size:  1.5rem;
}

