

/* BUTTONS */


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.btn-order {
  background-color: #0c1c3d;
  border: none;
}

.btn-order:hover {
  background-color: #a2bef7
}

/* MODAL STYLES */
.modal-dialog,
.modal {
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  border: none;
}

.modal-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.modal-header {
  border: none;
  padding: 1rem 1rem 0 1rem;
}

.modal-header h5 {
  font-weight: lighter;
  font-size: 1.2rem;
}

/* ICONS */
.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 1rem;
}

/* CARD DIVIDER */
.card-divider {
  border: none;
  height: 10px;
  opacity: 1;
  background-color: #061A40;
  margin: 0;
}

/* LIST GROUP */
.list-group-item {
  border: none !important;
  padding: 1rem;
  color: #003559;
}
