.card-img-top {
    width: 100%; /* Ensure it fills the width */
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio while covering the area */
  }

  .card-divider {
    border: none;
    height: 10px;    
    opacity: 1;
    background-color: #061A40; /* dark blue or whatever color fits your theme */
    margin: 0; /* remove default spacing if needed */
  }

  .card {
    border-radius: 20px;
  }

  h5, h6{
    color: #003559;
  }

  h5{
    font-size: 1.5rem;
    font-weight: bold;
  }
    
  h6{
        font-size: 1.25rem;
  }

  p {
    color: #061A40;
    font-weight: bold;
    font-size:  1.5rem;
  }