
/* LIGHT MODE OVERRIDE */
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #e0efff;;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}*/

/* RESET + LAYOUT FIX */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Ensure full height layout */
body {
  min-height: 100vh;
}

/* Main content grows to fill space between navbar and footer */
main {
  flex: 1;
}

/* NAVBAR STYLES */


a:hover {
  color: #535bf2;
}

/* HEADINGS */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: #003559;
  font-size: 1.5rem;
}

h3 {
  color: #003559;
  font-size: 1.2rem;
}

p {
  color: #003559;
  font-size: 1rem;
}

/* BUTTONS */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-order {
  background-color: #0c1c3d;
  border: none;
}

.btn-order:hover {
  background-color: #a2bef7
}

/* MODAL STYLES */
.modal-dialog,
.modal {
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  border: none;
}

.modal-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.modal-header {
  border: none;
  padding: 1rem 1rem 0 1rem;
}

.modal-header h5 {
  font-weight: lighter;
  font-size: 1.2rem;
}

/* ICONS */
.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  margin-right: 1rem;
}

/* CARD DIVIDER */
.card-divider {
  border: none;
  height: 10px;
  opacity: 1;
  background-color: #061A40;
  margin: 0;
}

/* LIST GROUP */

.list-group-item {
  border: none !important;
  padding: 0.5rem;
  padding-left: 1rem;
  color: #003559;
}

/* In your modal.css or inside a <style> tag */
.modal.show.d-block {
  z-index: 9999 !important;
  display: block !important;
  background-color: rgba(0, 0, 0, 0.6);
}
